:root {
  /*************************************************************************************************
  * Core variables
  *************************************************************************************************/

  /* Fonts */
  --font-sans-serif: sans-serif;
  --font-serif: serif;
  --font-system: system-ui;
  --font-monospace: menlo, consolas, "DejaVu Sans Mono", monospace;

  /* Colors (most courtesy of http://clrs.cc/) */
  --color-white: white;
  --color-navy: #001f3f;
  --color-blue: #0074d9;
  --color-aqua: #7fdbff;
  --color-teal: #39cccc;
  --color-olive: #3d9970;
  --color-green: #2ecc40;
  --color-lime: #01ff70;
  --color-yellow: #ffdc00;
  --color-orange: #ff851b;
  --color-red: #ff4136;
  --color-maroon: #85144b;
  --color-fuchsia: #f012be;
  --color-purple: #b10dc9;
  --color-black: #111;
  --color-gray: #aaa;
  --color-silver: #ddd;

  /* States */
  --state-primary: var(--color-blue);
  --state-secondary: var(--color-gray);
  --state-success: var(--color-green);
  --state-info: var(--color-teal);
  --state-warning: var(--color-orange);
  --state-danger: var(--color-red);
  --state-light: var(--color-white);
  --state-dark: var(--color-black);

  /* Components */
  --component-bg-color: #f2f2f2;
  --component-border-color: #ddd;
  --component-border-radius: 0.25rem;
  --component-border-width: 1px;
  --component-focus-width: 2px;
  --component-padding-x: 1rem;
  --component-padding-y: 1rem;
  --component-speed: 0.1s;
  --component-box-shadow-inner: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  --component-box-shadow-outer: 0 1px 0 rgba(0, 0, 0, 0.05);

  /*************************************************************************************************
  * Buttons
  *************************************************************************************************/

  --button-height-xs: var(--input-height-xs);
  --button-height-sm: var(--input-height-sm);
  --button-height: var(--input-height);
  --button-height-lg: var(--input-height-lg);
  --button-height-xl: var(--input-height-xl);
  --button-font-size-xs: var(--input-font-size-xs);
  --button-font-size-sm: var(--input-font-size-sm);
  --button-font-size: var(--input-font-size);
  --button-font-size-lg: var(--input-font-size-lg);
  --button-font-size-xl: var(--input-font-size-xl);
  --button-font-family: var(--input-font-family);
  --button-font-weight: var(--input-font-weight);
  --button-border-radius: var(--component-border-radius);
  --button-border-width: var(--component-border-width);
  --button-focus-width: var(--component-focus-width);
  --button-speed: var(--component-speed);
  --button-loader-size: 1em;
  --button-loader-border-width: 0.15em;

  /* Default */
  --button-color: var(--color-white);
  --button-bg-color: var(--state-primary);

  /* Secondary */
  --button-color-secondary: var(--color-white);
  --button-bg-color-secondary: var(--state-secondary);

  /* Success */
  --button-color-success: var(--color-white);
  --button-bg-color-success: var(--state-success);

  /* Info */
  --button-color-info: var(--color-white);
  --button-bg-color-info: var(--state-info);

  /* Warning */
  --button-color-warning: var(--color-white);
  --button-bg-color-warning: var(--state-warning);

  /* Danger */
  --button-color-danger: var(--color-white);
  --button-bg-color-danger: var(--state-danger);

  /* Light */
  --button-color-light: var(--state-dark);
  --button-bg-color-light: color(var(--state-light) shade(10%));

  /* Dark */
  --button-color-dark: var(--state-light);
  --button-bg-color-dark: color(var(--state-dark) tint(10%));

  /*************************************************************************************************
  * Content
  *************************************************************************************************/

  --body-bg-color: var(--color-white);
  --body-color: var(--color-black);
  --body-color-muted: var(--color-gray);
  --body-margin: 2rem;

  --font-family: var(--font-system);
  --font-size: 1rem; /* Most browsers use a default font size of 16px */
  --font-size-small: 80%;
  --font-weight-light: 300;
  --font-weight: 400;
  --font-weight-bold: 700;
  --line-height: 1.5;

  --code-font-size: 90%;
  --code-color: var(--color-black);
  --code-border-radius: var(--component-border-radius);
  --code-bg-color: var(--component-bg-color);
  --code-padding-x: calc(var(--font-size) * 0.4);
  --code-padding-y: calc(var(--font-size) * 0.2);

  --headings-font-family: var(--font-system);
  --headings-font-weight: var(--font-weight-light);
  --headings-line-height: 1.1;
  --headings-margin-bottom: 0.5rem;
  --headings-color: inherit;
  --headings-font-size-h1: 2.5rem;
  --headings-font-size-h2: 2rem;
  --headings-font-size-h3: 1.75rem;
  --headings-font-size-h4: 1.5rem;
  --headings-font-size-h5: 1.25rem;
  --headings-font-size-h6: 1rem;

  --hr-border-width: 1px;
  --hr-border-color: var(--component-border-color);
  --hr-margin-x: 0;
  --hr-margin-y: 2rem;

  --kbd-font-size: 90%;
  --kbd-color: var(--color-white);
  --kbd-border-radius: var(--component-border-radius);
  --kbd-bg-color: var(--color-black);
  --kbd-padding-x: calc(var(--font-size) * 0.4);
  --kbd-padding-y: calc(var(--font-size) * 0.2);

  --link-color: var(--state-primary);
  --link-text-decoration: none;
  --link-color-hover: var(--link-color);
  --link-text-decoration-hover: underline;

  --mark-color: inherit;
  --mark-bg-color: var(--color-yellow);
  --mark-padding-x: calc(var(--font-size) * 0.4);
  --mark-padding-y: calc(var(--font-size) * 0.2);

  --placeholder-color: var(--body-color-muted);

  --pre-color: var(--code-color);
  --pre-border-radius: var(--component-border-radius);
  --pre-bg-color: var(--code-bg-color);
  --pre-max-height: none;

  --selection-color: var(--color-white);
  --selection-bg-color: var(--state-primary);

  /*************************************************************************************************
  * Forms
  *************************************************************************************************/

  --input-height-xs: 1.25rem;
  --input-height-sm: 1.75rem;
  --input-height: 2.25rem;
  --input-height-lg: 2.75rem;
  --input-height-xl: 3.25rem;
  --input-font-size-xs: 0.625rem;
  --input-font-size-sm: 0.875rem;
  --input-font-size: 1rem;
  --input-font-size-lg: 1.25rem;
  --input-font-size-xl: 1.5rem;
  --input-font-family: inherit;
  --input-font-weight: inherit;
  --input-color: var(--body-color);
  --input-border-color: var(--component-border-color);
  --input-border-width: 1px;
  --input-border-radius: var(--component-border-radius);
  --input-bg-color: var(--color-white);
  --input-box-shadow: var(--component-box-shadow-inner);
  --input-readonly-bg-color: var(--component-bg-color);
  --input-focus-color: var(--state-primary);
  --input-speed: var(--component-speed);

  --input-addon-bg-color: var(--component-bg-color);
  --input-addon-color: var(--body-color-muted);

  --input-hint-color: var(--body-color-muted);
  --input-hint-font-size: var(--font-size-small);

  --input-icon-width: 2em;
  --input-icon-offset: 0.5em;
  --input-icon-color: var(--state-secondary);

  --input-range-track-height: 0.5rem;
  --input-range-track-color: var(--component-bg-color);
  --input-range-track-box-shadow: var(--component-box-shadow-inner);
  --input-range-thumb-height: 1.25rem;
  --input-range-thumb-color: var(--state-primary);

  --input-invalid-color: var(--state-danger);
  --input-invalid-border-color: var(--state-danger);
  --input-valid-color: var(--state-success);
  --input-valid-border-color: var(--state-success);

  --fieldset-border-color: var(--component-border-color);
  --fieldset-border-width: var(--component-border-width);
  --fieldset-border-radius: var(--component-border-radius);
  --fieldset-padding-x: 2rem;
  --fieldset-padding-y: 1.5rem;

  --label-color: inherit;

  /*************************************************************************************************
  * Grid
  *************************************************************************************************/

  --container-max-width-sm: 540px;
  --container-max-width-md: 720px;
  --container-max-width-lg: 960px;
  --container-max-width-xl: 1140px;

  --grid-gutter-width: 2rem;

  /*************************************************************************************************
  * Tables
  *************************************************************************************************/

  --table-bg-color: var(--color-white);
  --table-border-color: var(--component-border-color);
  --table-border-width: var(--component-border-width);
  --table-header-bg-color: transparent;
  --table-spacing-x: 0.75rem;
  --table-spacing-y: 0.5rem;
  --table-hover-color: var(--color-white);
  --table-hover-bg-color: var(--state-primary);
  --table-stripe-bg-color: var(--component-bg-color);

  /*************************************************************************************************
  * Utilities
  *************************************************************************************************/

  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 2.5rem;
}

/***************************************************************************************************
* Resets
***************************************************************************************************/

/* Box sizing reset */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Hidden property reset */
[hidden] {
  display: none !important;
}

/***************************************************************************************************
* The basics
***************************************************************************************************/

body {
  background: var(--body-bg-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  color: var(--body-color);
  line-height: var(--line-height);
  margin: var(--body-margin);
}

a,
.link {
  color: var(--link-color);
  text-decoration: var(--link-text-decoration);
}

a:link:hover,
.link.hover {
  color: var(--link-color-hover);
  text-decoration: var(--link-text-decoration-hover);
}

abbr[title],
.abbr {
  text-decoration: none;
  border-bottom: dashed 2px currentColor;
}

b,
strong,
.strong {
  font-weight: var(--font-weight-bold);
}

blockquote,
.blockquote {
  font-size: 120%;
  border-left: solid 0.4rem var(--component-border-color);
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  margin-bottom: 1.5rem;
  margin-left: 0;
}

blockquote :last-child {
  margin-bottom: 0;
}

code,
.code {
  font-family: var(--font-monospace);
  font-size: var(--code-font-size);
  color: var(--code-color);
  background-color: var(--code-bg-color);
  border-radius: var(--code-border-radius);
  padding: var(--code-padding-y) var(--code-padding-x);
}

del,
.del {
  color: var(--color-red);
}

figure,
.figure {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--headings-font-family);
  font-weight: var(--headings-font-weight);
  line-height: var(--headings-line-height);
  color: var(--headings-color);
  margin-top: 0;
  margin-bottom: var(--headings-margin-bottom);
}

h1,
.h1 { font-size: var(--headings-font-size-h1); }

h2,
.h2 { font-size: var(--headings-font-size-h2); }

h3,
.h3 { font-size: var(--headings-font-size-h3); }

h4,
.h4 { font-size: var(--headings-font-size-h4); }

h5,
.h5 { font-size: var(--headings-font-size-h5); }

h6,
.h6 { font-size: var(--headings-font-size-h6); }

hr,
.hr {
  border: none;
  border-top: solid var(--hr-border-width) var(--hr-border-color);
  margin: var(--hr-margin-y) var(--hr-margin-x);
}

img,
.img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

ins,
.ins {
  color: var(--color-green);
}

kbd,
.kbd {
  font-family: var(--font-monospace);
  font-size: var(--kbd-font-size);
  color: var(--kbd-color);
  background-color: var(--kbd-bg-color);
  border-radius: var(--kbd-border-radius);
  padding: var(--kbd-padding-y) var(--kbd-padding-x);
}

mark,
.mark {
  color: var(--mark-color);
  background-color: var(--mark-bg-color);
  padding: var(--mark-padding-y) var(--mark-padding-x);
}

p,
.p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

pre,
.pre {
  max-height: var(--pre-max-height);
  overflow-y: auto;
  font-family: var(--font-monospace);
  color: var(--pre-color);
  background-color: var(--pre-bg-color);
  border-radius: var(--pre-border-radius);
  padding: 1rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

small,
.small {
  font-size: var(--font-size-small);
}

/***************************************************************************************************
* Lists
***************************************************************************************************/

dl,
.dl {
  margin-bottom: 1.5rem;
}

dt,
.dt {
  font-weight: var(--font-weight-bold);
}

dd,
.dd {
  margin-left: 0;
  margin-bottom: 1.5rem;
}

ol,
ul,
.ol,
.ul {
  line-height: var(--line-height);
  margin-top: 0;
  margin-bottom: 1.5rem;

  & ol,
  & ul,
  & .ol,
  & .ul {
    margin-bottom: 0;
  }
}

/***************************************************************************************************
* Placeholders
***************************************************************************************************/

::placeholder {
  color: var(--placeholder-color);
}

/***************************************************************************************************
* Selections
***************************************************************************************************/

::selection {
  background-color: var(--selection-bg-color);
  color: var(--selection-color);
  text-shadow: none !important;
}

/***************************************************************************************************
* Buttons
***************************************************************************************************/
button,
.button {
  font-family: var(--button-font-family);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  text-align: center;
  text-decoration: none;
  color: var(--button-color);
  background-color: var(--button-bg-color);
  border-radius: var(--button-border-radius);
  border-style: solid;
  border-width: var(--button-border-width);
  border-color: var(--button-bg-color);
  border-top-color: color(var(--button-bg-color) tint(10%));
  border-bottom-color: color(var(--button-bg-color) shade(10%));
  height: var(--button-height);
  line-height: calc(var(--button-height) - var(--button-border-width) * 2);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  padding: 0 0.75em; /* ems for relative sizing */
  cursor: pointer;
  display: inline-block;
  transition: var(--button-speed) all;
}

button:hover,
.button.hover {
  color: var(--button-color);
  text-decoration: none;
  background-color: color(var(--button-bg-color) shade(10%));
  border-color: color(var(--button-bg-color) shade(10%));
  border-top-color: color(var(--button-bg-color) tint(0%));
  border-bottom-color: color(var(--button-bg-color) shade(20%));
}

button:active,
.button.active {
  background-color: color(var(--button-bg-color) shade(10%));
  border-color: color(var(--button-bg-color) shade(10%));
  border-top-color: color(var(--button-bg-color) shade(20%));
  border-bottom-color: color(var(--button-bg-color) shade(10%));
}

button:focus,
.button.focus {
  outline: none;
  box-shadow: 0 0 0 var(--button-focus-width) color(var(--button-bg-color) alpha(50%));
}

button:disabled,
.button.disabled {
  background-color: color(var(--button-bg-color) shade(10%));
  border-top-color: color(var(--button-bg-color) tint(10%));
  border-bottom-color: color(var(--button-bg-color) shade(10%));
  box-shadow: none;
  text-decoration: none;
  opacity: 0.5;
  cursor: not-allowed;
}

/***************************************************************************************************
* Tables
***************************************************************************************************/

table,
.table {
  width: 100%;
  background-color: var(--table-bg-color);
  border-collapse: collapse;
  margin-bottom: 1.5rem;
}

table caption,
.table .caption {
  caption-side: bottom;
  font-size: var(--font-size-small);
  color: var(--body-color-muted);
  text-align: center;
  padding-top: var(--table-spacing-y);
}

table th,
.table .th {
  text-align: left;
  background-color: var(--table-header-bg-color);
  border-bottom: solid calc(var(--table-border-width) * 2) var(--table-border-color);
  padding: var(--table-spacing-y) var(--table-spacing-x);
}

table td,
.table .td {
  border-bottom: solid var(--table-border-width) var(--table-border-color);
  padding: var(--table-spacing-y) var(--table-spacing-x);
}

/***************************************************************************************************
* Forms
***************************************************************************************************/

fieldset,
.fieldset {
  border: solid var(--fieldset-border-width) var(--fieldset-border-color);
  border-radius: var(--fieldset-border-radius);
  padding: var(--fieldset-padding-y) var(--fieldset-padding-x);
  margin-bottom: 1.5rem;
}

fieldset legend,
.fieldset .legend {
  font-weight: var(--font-weight-bold);
  padding: 0 0.25rem;
}

fieldset > :last-child,
.fieldset > :last-child {
  margin-bottom: 0;
}

label,
.label {
  color: var(--label-color);
  display: inline-block;
  margin-bottom: 0.25rem;
}

label + label,
.label + .label {
  margin-left: 1rem;
}

input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea,
.input {
  width: 100%;
  font-family: var(--input-font-family);
  font-size: var(--input-font-size);
  font-weight: var(--input-font-weight);
  color: var(--input-color);
  border: solid var(--input-border-width) var(--input-border-color);
  border-radius: var(--input-border-radius);
  box-shadow: var(--input-box-shadow);
  background-color: var(--input-bg-color);
  height: var(--input-height);
  line-height: var(--input-height);
  vertical-align: middle;
  display: block;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 0;
  transition:
    var(--input-speed) border-color,
    var(--component-speed) background-color,
    var(--component-speed) color;
  white-space: nowrap;
  -moz-appearance: none;
  -webkit-appearance: none;
}

input[type="color"] {
  padding: 0.5rem;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: var(--input-border-radius);
}

select,
.select {
  position: relative;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='41px' height='26px' viewBox='0 0 41 26' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpolygon id='Path-3' fill='%23000000' points='0 5.38215461 19.9830489 25.3652035 40.1398855 5.20836689 34.9315186 0 19.8691842 15.0623344 4.83971338 0.0328636246'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E%0A");
  background-position: right 0.4rem center;
  background-repeat: no-repeat;
  background-size: 0.75rem;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 1.5rem;
}

textarea,
.textarea {
  height: auto;
  resize: vertical;
  line-height: var(--line-height);
  white-space: normal;
}

input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
select:focus,
textarea:focus,
.input.focus {
  outline: none;
  border-color: var(--input-focus-color);
}

input[type="color"][disabled],
input[type="date"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled],
select[disabled],
textarea[disabled],
.input.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

input[type="color"][readonly],
input[type="date"][readonly],
input[type="datetime-local"][readonly],
input[type="email"][readonly],
input[type="month"][readonly],
input[type="number"][readonly],
input[type="password"][readonly],
input[type="search"][readonly],
input[type="tel"][readonly],
input[type="text"][readonly],
input[type="time"][readonly],
input[type="url"][readonly],
input[type="week"][readonly],
select[readonly],
textarea[readonly],
.input.readonly {
  background-color: var(--input-readonly-bg-color);
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: 1px;
}

/* Range */
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: var(--input-height);
  line-height: var(--input-height);
  vertical-align: middle;
}

input[type="range"]:focus {
  outline: none;
}

/* Webkit */
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: var(--input-range-track-height);
  cursor: pointer;
  background: var(--input-range-track-color);
  border-radius: var(--input-border-radius);
  border: none;
  box-shadow: var(--input-range-track-box-shadow);
}

input[type="range"]::-webkit-slider-thumb {
  border: none;
  width: var(--input-range-thumb-height);
  height: var(--input-range-thumb-height);
  border-radius: 50%;
  background: var(--input-range-thumb-color);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: calc(var(--input-range-thumb-height) / -2 + var(--input-range-track-height) / 2);
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--input-range-track-color);
}

input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 var(--component-focus-width) color(var(--input-range-thumb-color) alpha(50%));
}

/* Firefox */
input[type="range"]::-moz-range-track {
  width: 100%;
  height: var(--input-range-track-height);
  cursor: pointer;
  background: var(--input-range-track-color);
  border-radius: var(--input-border-radius);
  border: none;
  box-shadow: var(--input-range-track-box-shadow);
}

input[type="range"]::-moz-range-thumb {
  border: none;
  height: var(--input-range-thumb-height);
  width: var(--input-range-thumb-height);
  border-radius: 50%;
  background: var(--input-range-thumb-color);
  cursor: pointer;
}

input[type="range"]:focus::-moz-range-thumb {
  box-shadow: 0 0 0 var(--component-focus-width) color(var(--input-range-thumb-color) alpha(50%));
}

/* IE / Edge */
input[type="range"]::-ms-track {
  width: 100%;
  height: var(--input-range-track-height);
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: var(--input-range-track-color);
  border: none;
  border-radius: var(--input-border-radius);
}

input[type="range"]::-ms-fill-upper {
  background: var(--input-range-track-color);
  border: none;
  border-radius: var(--input-border-radius);
}

input[type="range"]::-ms-thumb {
  border: none;
  height: var(--input-range-thumb-height);
  width: var(--input-range-thumb-height);
  border-radius: 50%;
  background: var(--input-range-thumb-color);
  cursor: pointer;
  margin-top: calc(var(--input-range-track-height) / -2);
}

input[type="range"]:focus::-ms-thumb {
  box-shadow: 0 0 0 var(--component-focus-width) color(var(--input-range-thumb-color) alpha(50%));
}

input[type="range"]:focus::-ms-fill-lower {
  background: var(--input-range-track-color);
}

input[type="range"]:focus::-ms-fill-upper {
  background: var(--input-range-track-color);
}
